/* unvisited link */
a:link {
    color: #87E9F1;
    text-decoration:  none;
}

/* visited link */
a:visited {
    color: #87E9F1;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #FFFFFF;
}
